In [1]:
import sys
print sys.executable

paths = ['', '/Users/dyawitz/anaconda/bin', '/Users/dyawitz/anaconda/lib/python27.zip', '/Users/dyawitz/anaconda/lib/python2.7/plat-darwin', '/Users/dyawitz/anaconda/lib/python2.7/plat-mac', '/Users/dyawitz/anaconda/lib/python2.7/plat-mac/lib-scriptpackages', '/Users/dyawitz/anaconda/lib/python2.7/lib-tk', '/Users/dyawitz/anaconda/lib/python2.7/lib-old', '/Users/dyawitz/anaconda/lib/python2.7/lib-dynload', '/Users/dyawitz/anaconda/lib/python2.7/site-packages/Sphinx-1.3.1-py2.7.egg', '/Users/dyawitz/anaconda/lib/python2.7/site-packages/setuptools-18.5-py2.7.egg', '/Users/dyawitz/anaconda/lib/python2.7/site-packages', '/Users/dyawitz/anaconda/lib/python2.7/site-packages/aeosa', '/Users/dyawitz/anaconda/lib/python2.7/site-packages/IPython/extensions', '/Users/dyawitz/.ipython']

for i in paths:
   sys.path.append(i)

/Users/dyawitz/anaconda/envs/py27/bin/python

In [2]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

### Voltage load data (kW)

In [26]:
loads = pd.read_csv('../data/load_history.csv')

columns h1 - h24 are times of day. Data ranges from Jan 2004 - July 2008

In [27]:
loads['date'] = pd.to_datetime(loads.year*10000+loads.month*100+loads.day,format='%Y%m%d')
loads = loads[[u'zone_id', u'date', u'h1', u'h2', u'h3', u'h4',
    u'h5', u'h6', u'h7', u'h8', u'h9', u'h10', u'h11', u'h12', u'h13',
       u'h14', u'h15', u'h16', u'h17', u'h18', u'h19', u'h20', u'h21', u'h22',
       u'h23', u'h24']]

In [39]:
loads.head(2)

,zone_id,date,h1,h2,h3,h4,h5,h6,h7,h8,...,h15,h16,h17,h18,h19,h20,h21,h22,h23,h24
0,1,2004-01-01,"16,853","16,450","16,517","16,873","17,064","17,727","18,574","19,355",...,"13,518","13,138","14,130","16,809","18,150","18,235","17,925","16,904","16,162","14,750"
1,1,2004-01-02,"14,155","14,038","14,019","14,489","14,920","16,072","17,800","19,089",...,"16,127","15,448","15,839","17,727","18,895","18,650","18,443","17,580","16,467","15,258"

### Temperature data

In [29]:
temps = pd.read_csv('../data/temperature_history.csv')

In [36]:
temps['date'] = pd.to_datetime(temps.year*10000+temps.month*100+temps.day,format='%Y%m%d')
temps = temps[[u'station_id', u'date', u'h1', u'h2', u'h3', u'h4',
    u'h5', u'h6', u'h7', u'h8', u'h9', u'h10', u'h11', u'h12', u'h13',
       u'h14', u'h15', u'h16', u'h17', u'h18', u'h19', u'h20', u'h21', u'h22',
       u'h23', u'h24']]

In [38]:
temps.head(2)

,station_id,date,h1,h2,h3,h4,h5,h6,h7,h8,...,h15,h16,h17,h18,h19,h20,h21,h22,h23,h24
0,1,2004-01-01,46,46,45,41,39,35,33,33,...,55,55,52,46,40,40,39,38,40,41
1,1,2004-01-02,43,44,46,46,47,47,47,47,...,54,56,57,53,50,47,46,45,45,45